{% block submenu %}
<form id="bio-form" action="{{ url_for('bio.bio') }}" method="post" enctype="multipart/form-data">
    <div class="headshot">
        <!-- Brand logo -->
            <label for="empFileInput">Upload A Headsot That Will Be Shown On The Main Page</label><br>
            <input type="file" id="empFileInput" name="empFileInput" accept="image/png, image/jpeg">
    </div>
    
    <!-- Short bio for the store -->
    <div class="self-bio">
        <p>Enter A Short Bio...</p>
        <textarea id="self-bio" name="self-bio">{{ bio }}</textarea>
    </div>
    <button type="submit">Submit</button>
</form>   
{% endblock %}