{% block submenu %}
<!-- Top Navigation Bar -->
<div class="topnav">
    <ul>
        <li onclick="loadSubMenu('manage_employees')">Manage Employees</li>
        <li onclick="loadSubMenu('customer_info')">Customer Information Requirments</li>
        <li onclick="loadSubMenu('customer_portal')">Customize</li>
        <!-- Add more list items as needed -->
    </ul>
</div>


<!-- Main Content Area -->
<div class="admin-container">
  <!-- Sub-menu content will be rendered here -->
  {% block admin %}{% endblock %}

</div>
{% endblock %}
