{% block submenu %}
<style>
    .avail-table {
    width: 50%; /* Set the width of the table to 100% of its container */
    border-collapse: collapse; /* Optional: collapse table borders */
  }
  
  .avail-th, .avail-td {
    font-size: 20px;
    padding: 10px; /* Adjust cell padding for better spacing */
    text-align: center; /* Optional: center-align text within cells */
  }
  input[type="time"] {
    font-size: 20px; /* Set the font size for time input fields */
    width: 130px; /* Set the width of the input fields as needed */
  }
  
  /* Adjust width of specific columns if needed */
  .avail-th:first-child, .avail-td:first-child {
    width: 20%; /* Example: Set the width of the first column to 20% */
  }
  .avail-button[type="submit"] {
    padding: 7px 20px; /* Adjust padding to increase button size */
    font-size: 16px; /* Adjust font size */
    margin-top: 30px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .employee-option {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .employee-option:hover {
    background-color: #f9f9f9;
  }
</style>

    <div class="dropdown">
        <button class="dropbtn" id="owner-dropdown-btn" onclick="toggleDropdown(event)">{{ full_name }}</button>
        <div class="dropdown-content" id="employee-dropdown">
            {% for name, id in employee_data %}
                <button class="employee-option" data-id="{{ id }}" onclick="selectEmployee(event)">{{ name }}</button>
            {% endfor %}
        </div>
    </div>


    <h1>Availability Schedule</h1>
    <form id="availability-form" action="{{ url_for('availability.availability') }}" method="post">
        <table class="avail-table">
        <thead>
            <tr>
                <th class="avail-th"></th>
                <th class="avail-th">Start Time</th>
                <th class="avail-th">Stop Time</th>
                <th class="avail-th"></th>
            </tr>
        </thead>
        <tbody id="schedule-body">
                {% if availability_by_day %}
                    {% for day, time_range in availability_by_day.items() %}
                        <tr>
                            <td class="avail-td">{{ day }}</td>
                            <td class="avail-td"><input type="time" name="{{ day }}_start" class="start-time" value="{{ time_range.split(' - ')[0] }}"></td>
                            <td class="avail-td"><input type="time" name="{{ day }}_stop" class="stop-time" value="{{ time_range.split(' - ')[1] }}"></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                        <tr>
                            <td class="avail-td">{{ day }}</td>
                            <td class="avail-td"><input type="time" name="{{ day }}_start" class="start-time"></td>
                            <td class="avail-td"><input type="time" name="{{ day }}_stop" class="stop-time"></td>
                        </tr>
                    {% endfor %}
                {% endif %}
        </tbody>
        </table>
        <div style="text-align: center;">
            {% if is_owner %}
            <button type="submit" class="avail-button">Submit</button>
            {% else %}
            {% endif %}
        </div>
            
        
    </form>
{% endblock %}
