{% block submenu %}
<style>
    .calendar-heading {
    text-align: center;
  }

  .arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 45px; /* Adjust the font size as needed */
  }

  .arrow-button:hover {
      text-decoration: underline; /* Optional: Add underline on hover */
      color: blue;
  }

  .calendar-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0%;
    margin-top: 2%;
  }

  .calendar-td {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    width: 150px; /* Ensure each day box takes up equal space (100% / 7 days) */
    height: 100px;
    vertical-align: top;
  }

  .calendar-th {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    width: 150px; /* Ensure each day box takes up equal space (100% / 7 days) */
    height: 15px;
  }
  .calendar-th {
    background-color: lightgray;
  }
</style>
    <h1 class="calendar-heading">
        <button onclick="updateCalendar('prev', '{{ month_name }}', '{{ year }}')" class="arrow-button">&#8249;</button>
        {{ month_name }} - {{ year }}
        <button onclick="updateCalendar('next', '{{ month_name }}', '{{ year }}')" class="arrow-button">&#8250;</button>            
    </h1>
<form id="calendar-form" action="{{ url_for('calendars.calendar_post') }}" method="post">    
<table class="calendar-table">
  <thead>
    <tr>
      <th class="calendar-th">Monday</th>
      <th class="calendar-th">Tuesday</th>
      <th class="calendar-th">Wednesday</th>
      <th class="calendar-th">Thursday</th>
      <th class="calendar-th">Friday</th>
      <th class="calendar-th">Saturday</th>
      <th class="calendar-th">Sunday</th>
    </tr>
  </thead>
  <tbody>
    {% for week in calendar %}
        <tr>
            {% for day in week %}
                <td class="calendar-td">{{ '' if day == 0 else day }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
  </tbody>
</table>
</form>
{% endblock %}
