<!-- templates/create_account.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    <h1>Create Account</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form action="{{ url_for('users.create_account') }}" method="post" onsubmit="return validateForm()">
        <label for="f_name">First Name:</label>
        <input type="text" id="f_name" name="f_name" required><br>
        <label for="l_name">Last Name:</label>
        <input type="text" id="l_name" name="l_name" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ email }}" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Please enter a valid email address" required><br>
        <label for="phone_number">Phone:</label>
        <input type="tel" id="phone_number" name="phone_number" value="{{ phone_number }}" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="Please enter a valid phone number in the format XXX-XXX-XXXX" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="password_match">Re-Type Password:</label>
        <input type="password" id="password_match" name="password_match" required><br>
        {% if 'error' in messages %}
        <div class="error-message">{{ messages['error'] }}</div>
        {% endif %}
        <button type="submit">Create Account</button>
    </form>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>    
</body>
</html>
