{% block admin %}
<style>
    .subdomain {
        margin-bottom: 20px;
    }
    
    #custom-sub {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        margin-top: 20px;
    }
    
    #subdomain-link {
        display: block;
        font-size: 16px;
        color: blue;
        text-decoration: none;
        margin-top: 20px;
    }
    
    #subdomain-link:hover {
        text-decoration: underline;
    }
    
    .logos, .headshot, .self-bio, .bio, .business-services {
        margin-bottom: 20px;
    }
    
    label {
        font-size: 16px;
        color: #333;
        margin-bottom: 5px;
        display: block;
    }
    
    input[type="file"] {
        margin-bottom: 10px;
    }
    
    input[type="radio"], label {
        display: inline-block;
        margin-right: 10px;
    }
    
    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }
    
    button[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>
<div class="subdomain">
    <label id="custom-sub">Promote Your Business With Your Own Custom Subdomain. Put on Business Cards, Instagram, Facebook or Anywhere!!</label><br>
    <a id="subdomain-link" href="{{ full_url }}" target="_blank">{{ full_url }}</a>
</div>
<form id="business-form" action="{{ url_for('admin_center.customer_portal') }}" method="post" enctype="multipart/form-data">
<div class="logos">
    <!-- Brand logo -->
        <label for="fileInput">Upload Your Custom Logo/Brand Here</label><br>
        <input type="file" id="fileInput" name="fileInput" accept="image/png, image/jpeg">
</div>
<div class="headshot">
    <!-- Brand logo -->
        <label for="empFileInput">Upload A Headsot That Will Be Shown On The Main Page</label><br>
        <input type="file" id="empFileInput" name="empFileInput" accept="image/png, image/jpeg">
</div>

<!-- Short bio for the store -->
<div class="self-bio">
    <p>Enter A Self Bio To Go With Your Photo...</p>
    <textarea id="self-bio" name="self-bio">{{ self_bio }}</textarea>
</div>

<!-- Short bio for the store -->
<div class="bio">
    <p>Enter A Main Bio For Your Store Here...</p>
    <textarea id="business-bio" name="business-bio">{{ bio }}</textarea>
</div>

<div class="business-services">
    <p>Enter All The Services Your Business Offers...</p>
    <p>Press Enter After Each Service</p>
    <textarea id="business-services" name="business-services">{{ services }}</textarea>
</div>

<div class="styles">
    <h2>Select Your Style</h2>
    <input type="radio" name="style" value="1" {% if style_id == '1' %} checked {% endif %}>
    <label>Dark Style</label><br>
    
    <input type="radio" name="style" value="2" {% if style_id == '2' %} checked {% endif %}>
    <label>Light Style</label><br>
    
    <input type="radio" name="style" value="3" {% if style_id == '3' %} checked {% endif %}>
    <label>Modern Style</label><br>
    <!-- Add more radio buttons for other style options -->
</div>
<button type="submit">Submit</button>
</form>
{% endblock %}