<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.6">
<title>Hamburger Menu</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<div class="menu-btn" tabindex="-1">
  <div class="btn-line"></div>
  <div class="btn-line"></div>
  <div class="btn-line"></div>
</div>

<div class="menu">
  <ul>
    <li onclick="loadContent('setup_chat')">AI Builder</li>
    <li onclick="loadContent('url')">My Bot</li>
  </ul>
</div>

<div id="default-content" class="default-content">
<div class="header">
  <img src="../static/img/ployease_design.png" alt="Ployease Logo" class="logo">
</div>
  <div class="app-summary">
    <h2>Welcome to Ployease!</h2>
    <p>Please click on the menu on the upper left hand side and click ai builder. Then enter any text you want your bot to know. This text will be used to answer questions once you create a name for your bot.</p>
  </div>

</div>

<!-- Content placeholder -->
<div id="submenu-content" class="container" style="display: none;">
  <!-- Sub-menu content will be rendered here -->
  {% block submenu %}{% endblock %}

</div>

<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>
