{% block admin %}
<h1>Employee Form</h1>
<form id="employee-form" action="{{ url_for('admin_center.manage_employees') }}" method="post">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    
    <label for="phone_number">Phone:</label><br>
    <input type="tel" id="phone_number" name="phone_number"><br>
    
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    
    <label for="first-name">First Name:</label><br>
    <input type="text" id="first-name" name="first-name"><br>
    
    <label for="last-name">Last Name:</label><br>
    <input type="text" id="last-name" name="last-name"><br>
    
    <button id="add-emp">+</button><br>

    <label for="employee-list">Employee List:</label><br>
    <textarea id="employee-list" name="employee-list" rows="20" cols="30">{{ visible_data }}</textarea><br>
    <textarea id="hidden-employee-list" name="hidden-employee-list" style="display: none;">{{ hidden_data }}</textarea>

    <div style="text-align: center;">
        <button type="submit" class="employee-button">Save</button>
    </div>
</form>    
{% endblock %}