{% block submenu %}
<style>
    #service-form {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    width: 400px; /* Adjust the width as needed */
    height: 520px; /* Adjust the height as needed */
    overflow-y: auto;
  }
  #service-form label {
    font-weight: bold;
  }
  #service-form input[type="text"],
  #service-form input[type="radio"],
  #service-form textarea {
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  #service-form input[type="radio"] {
    margin-right: 5px;
  }
  #service-form button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  #service-form button:hover {
    background-color: #0056b3;
  }
</style>
<form id="service-form" action="{{ url_for('services.services') }}" method="post">

    <label for="service-name">Service Offered:</label><br>
    <input type="text" id="service-name" name="service-name"><br>

    <label>Service Type:</label><br>
    <input type="radio" id="per-service" name="service-type" value="Per Service">
    <label for="per-service">Per Service</label><br>
    <input type="radio" id="hourly" name="service-type" value="Hourly">
    <label for="hourly">Hourly</label><br>

    <label for="amount">Amount:</label><br>
    <input type="text" id="amount" name="amount"><br>

    <button id="add-btn">+</button><br>

    <label for="service-list">Service List:</label><br>
    <textarea id="service-list" name="service-list" rows="8" cols="40">{{ formatted_service_data }}</textarea><br>

    <div style="text-align: center;">
        <button type="submit" class="service-button">Save</button>
    </div>

</form>

{% endblock %}