body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    caret-color: transparent;
    z-index: 2;
  }
  
  .menu-btn .btn-line {
    width: 25px;
    height: 3px;
    background-color: #6d6d6d;
    margin: 5px 0;
    transition: transform 0.3s ease;
    outline: none;
  }
  
  .menu-btn.open .btn-line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menu-btn.open .btn-line:nth-child(2) {
    opacity: 0;
  }
  
  .menu-btn.open .btn-line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #000000;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding-top: 50px;
  }
  
  .menu.open {
    transform: translateX(0);
    z-index: 1;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin-top: 20px; 
  }
  
  .menu li {
    padding: 15px;
    color: #fff;
    cursor: pointer;
    caret-color: transparent;
  }

  #default-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #default-content h1 {
    font-size: 50px;
    margin: 0;
  }

  .topnav {
    background-color: #000000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0;
  }
  
  .topnav ul {
    list-style-type: none;
    margin: 15;
    padding: 0;
  }

  .topnav li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 10px; /* Add some spacing between list items */
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav li:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
  }
  
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    caret-color: transparent;
  }

  .admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    caret-color: transparent;
  }
  
  .avail-table {
    width: 50%; /* Set the width of the table to 100% of its container */
    border-collapse: collapse; /* Optional: collapse table borders */
  }
  
  .avail-th, .avail-td {
    font-size: 20px;
    padding: 10px; /* Adjust cell padding for better spacing */
    text-align: center; /* Optional: center-align text within cells */
  }
  input[type="time"] {
    font-size: 20px; /* Set the font size for time input fields */
    width: 130px; /* Set the width of the input fields as needed */
  }
  
  /* Adjust width of specific columns if needed */
  .avail-th:first-child, .avail-td:first-child {
    width: 20%; /* Example: Set the width of the first column to 20% */
  }
  .avail-button[type="submit"] {
    padding: 7px 20px; /* Adjust padding to increase button size */
    font-size: 16px; /* Adjust font size */
    margin-top: 30px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .employee-option {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .employee-option:hover {
    background-color: #f9f9f9;
  }

  .calendar-heading {
    text-align: center;
  }

  .arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 45px; /* Adjust the font size as needed */
  }

  .arrow-button:hover {
      text-decoration: underline; /* Optional: Add underline on hover */
      color: blue;
  }

  .calendar-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0%;
    margin-top: 2%;
  }

  .calendar-td {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    width: 130px; /* Ensure each day box takes up equal space (100% / 7 days) */
    height: 80px;
    vertical-align: top;
  }

  .calendar-th {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    width: 100px; /* Ensure each day box takes up equal space (100% / 7 days) */
    height: 15px;
  }
  .calendar-th {
    background-color: lightgray;
  }
  #service-form {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    width: 400px; /* Adjust the width as needed */
    height: 520px; /* Adjust the height as needed */
    overflow-y: auto;
  }
  #service-form label {
    font-weight: bold;
  }
  #service-form input[type="text"],
  #service-form input[type="radio"],
  #service-form textarea {
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  #service-form input[type="radio"] {
    margin-right: 5px;
  }
  #service-form button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  #service-form button:hover {
    background-color: #0056b3;
  }
  .minus-button {
    margin-left: 5px;
    cursor: pointer;
  }
  