   .menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    caret-color: transparent;
    z-index: 2;
  }
  
  .menu-btn .btn-line {
    width: 25px;
    height: 3px;
    background-color: #b3b3b3;
    margin: 5px 0;
    transition: transform 0.3s ease;
    outline: none;
  }
  
  .menu-btn.open .btn-line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menu-btn.open .btn-line:nth-child(2) {
    opacity: 0;
  }
  
  .menu-btn.open .btn-line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #000000;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding-top: 50px;
  }
  
  .menu.open {
    transform: translateX(0);
    z-index: 1;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin-top: 20px; 
  }
  
  .menu li {
    padding: 15px;
    color: #ffffff;;
    cursor: pointer;
    caret-color: transparent;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #2B3A67; /* Dark blue background */
    color: white;
    height: 100vh;
    display: block;

}
.default-content {
  text-align: center;
  padding: 20px;
  max-width: 1600px; /* Adjust this value to control the width of the content */
  margin: 0 auto;
  display: block;
}

.logo {
  max-width: 40%; /* Adjust the size of the logo */
  margin: 30px auto; /* Increase the top margin to prevent cutting off */
  display: block;
}

.header {
  text-align: center;
  padding: 20px 0;
  caret-color: transparent;
}

.app-summary {
  background-color: #4F5D95; /* Lighter blue to match your buttons */
  color: white;
  padding: 20px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.app-summary p {
  font-size: 18px;
  line-height: 1.6;
}


