

{% block submenu %}
    <h1>Availability Schedule</h1>
    <form id="availability-form" action="{{ url_for('dashboard.availability') }}" method="post">
        <table>
        <thead>
            <tr>
                <th></th>
                <th>Start Time</th>
                <th>Stop Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="schedule-body">
            <tr>
                <td>Sunday</td>
                <td><input type="time" name="Sunday_start" class="start-time"></td>
                <td><input type="time" name="Sunday_stop" class="stop-time"></td>
                <td><button type="button" class="add-time" onclick="addRow(this)">+</button></td>
            </tr>
            <tr>
                <td>Monday</td>
                <td><input type="time" name="Monday_start" class="start-time"></td>
                <td><input type="time" name="Monday_stop" class="stop-time"></td>
                <td><button type="button" class="add-time" onclick="addRow(this)">+</button></td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td><input type="time" name="Tuesday_start" class="start-time"></td>
                <td><input type="time" name="Tuesday_stop" class="stop-time"></td>
                <td><button type="button" class="add-time" onclick="addRow(this)">+</button></td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td><input type="time" name="Wednesday_start" class="start-time"></td>
                <td><input type="time" name="Wednesday_stop" class="stop-time"></td>
                <td><button type="button" class="add-time" onclick="addRow(this)">+</button></td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td><input type="time" name="Thursday_start" class="start-time"></td>
                <td><input type="time" name="Thursday_stop" class="stop-time"></td>
                <td><button type="button" class="add-time" onclick="addRow(this)">+</button></td>
            </tr>
            <tr>
                <td>Friday</td>
                <td><input type="time" name="Friday_start" class="start-time"></td>
                <td><input type="time" name="Friday_stop" class="stop-time"></td>
                <td><button type="button" class="add-time" onclick="addRow(this)">+</button></td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td><input type="time" name="Saturday_start" class="start-time"></td>
                <td><input type="time" name="Saturday_stop" class="stop-time"></td>
                <td><button type="button" class="add-time" onclick="addRow(this)">+</button></td>
            </tr>
        </tbody>
        </table>
        <div style="text-align: center;">
            <button type="submit">Submit</button>
        </div>
            
        
    </form>
{% endblock %}
