{% block submenu %}
    <h1>Availability Schedule</h1>
    <form id="availability-form" action="{{ url_for('dashboard.availability') }}" method="post">
        <table>
        <thead>
            <tr>
                <th></th>
                <th>Start Time</th>
                <th>Stop Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="schedule-body">
                {% if availability_by_day %}
                    {% for entry in availability_by_day %}
                        <tr>
                            <td>{{ entry[0] }}</td>
                            <td><input type="time" name="{{ entry[0] }}_start" class="start-time" value="{{ entry[1].split(' - ')[0] }}"></td>
                            <td><input type="time" name="{{ entry[0] }}_stop" class="stop-time" value="{{ entry[1].split(' - ')[1] }}"></td>
                            <td>
                                {% if entry[1] != 'Not available' %}
                                    <button type="button" class="remove-time" onclick="removeRow(this)">-</button>
                                {% endif %}
                                <button type="button" class="add-time" onclick="addRow(this)">+</button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for day in ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}
                        <tr>
                            <td>{{ day }}</td>
                            <td><input type="time" name="{{ day }}_start" class="start-time"></td>
                            <td><input type="time" name="{{ day }}_stop" class="stop-time"></td>
                            <td><button type="button" class="add-time" onclick="addRow(this)">+</button></td>
                        </tr>
                    {% endfor %}
                {% endif %}
        </tbody>
        </table>
        <div style="text-align: center;">
            <button type="submit">Submit</button>
        </div>
            
        
    </form>
{% endblock %}
